@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0d1117;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:#161b22;
    border-radius:20px;
    box-shadow:0 0 30px rgba(255,140,0,.25);
    position:relative;
    overflow:hidden;
    width:900px;
    max-width:100%;
    min-height:550px;
}

.form-container{
    position:absolute;
    top:0;
    height:100%;
    transition:all .6s ease-in-out;
}

.sign-in-container{
    left:0;
    width:50%;
    z-index:2;
}

.sign-up-container{
    left:0;
    width:50%;
    opacity:0;
    z-index:1;
}

.container.right-panel-active .sign-in-container{
    transform:translateX(100%);
}

.container.right-panel-active .sign-up-container{
    transform:translateX(100%);
    opacity:1;
    z-index:5;
    animation:show .6s;
}

@keyframes show{
    0%,49.99%{
        opacity:0;
        z-index:1;
    }
    50%,100%{
        opacity:1;
        z-index:5;
    }
}

form{
    background:#161b22;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0 50px;
    height:100%;
}

h1{
    color:#e9e7e4;
    margin-bottom:20px;
}

input{
    background:#21262d;
    border:none;
    padding:14px 16px;
    margin:8px 0;
    width:100%;
    border-radius:8px;
    color:white;
    outline:none;
}

input::placeholder{
    color:#8b949e;
}

button{
    border:none;
    padding:14px 40px;
    margin-top:20px;
    border-radius:30px;
    background:#ff8c00;
    color:rgb(255, 255, 255);
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

button:hover{
    background:#ff6b00;
}

button.ghost{
    background:transparent;
    border:2px solid white;
}

.overlay-container{
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
    overflow:hidden;
    transition:transform .6s ease-in-out;
    z-index:100;
}

.container.right-panel-active .overlay-container{
    transform:translateX(-100%);
}

.overlay{
    background:linear-gradient(
        135deg,
        #e76c07,
        #d89d3e
    );
    color:rgb(221, 218, 218);
    position:relative;
    left:-100%;
    height:100%;
    width:200%;
    transform:translateX(0);
    transition:transform .6s ease-in-out;
}

.container.right-panel-active .overlay{
    transform:translateX(50%);
}

.overlay-panel{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    top:0;
    height:100%;
    width:50%;
    padding:0 40px;
}

.overlay-left{
    transform:translateX(-20%);
}

.container.right-panel-active .overlay-left{
    transform:translateX(0);
}

.overlay-right{
    right:0;
}

.container.right-panel-active .overlay-right{
    transform:translateX(20%);
}

p{
    margin:15px 0;
    line-height:1.6;
}

@media(max-width:768px){

    .container{
        width:95%;
        min-height:650px;
    }

    .sign-in-container,
    .sign-up-container{
        width:100%;
    }

    .overlay-container{
        display:none;
    }
}

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/* HEADER */
.header{
  width:100%;
  background:#111;
  border-bottom:1px solid rgba(255,255,255,0.08);
  position:sticky;
  top:0;
  z-index:1000;
}

.navbar{
  max-width:1400px;
  margin:auto;
  padding:18px 5%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:20px;
}

/* LOGO */
.logo{
  text-decoration:none;
  font-size:2rem;
  font-weight:700;
  color:#ff3c00;
  letter-spacing:1px;
}

.logo span{
  color:#fff;
  font-weight:300;
}

    /* NAV LINKS */
.nav-links{
  display:flex;
  align-items:center;
  gap:35px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:#fff;
  font-size:15px;
  position:relative;
  transition:0.3s;
}

.nav-links a::after{
  content:'';
  position:absolute;
  left:0;
  bottom:-6px;
  width:0%;
  height:2px;
  background:#ff3c00;
  transition:0.3s;
}

.nav-links a:hover{
  color:#ff3c00;
}

.nav-links a:hover::after{
  width:100%;
}


    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial, sans-serif;
    }

    body{
      background:#0f0f0f;
      color:#fff;
      line-height:1.6;
    }



    